@use "../../scss/variable";
.container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variable.$theme-light;
  font-family: variable.$theme-font-family;
  background-color: variable.$theme-primary;
}

.login-header {
  margin: 36px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  > img {
    height: 80px;
  }
  > span {
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    display: block;
    min-width: 400px;
  }
}

.login-container {
  margin: 36px 0;
  overflow: clip;
  min-height: 540px;
  display: flex;
  background-color: variable.$theme-light;
  color: variable.$theme-text;
  border-radius: 8px;
  grid-template-rows: repeat(auto-fit,minmax(320px,1fr));
}

.methods {
  width: 340px;
  font: variable.$theme-font-emphasize;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  > div {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
  }
  .active {
    border-bottom: 3px solid #1664ff;
    border-radius: 1px;
  }
}

.login-form {
  min-width: 480px;
  display: flex;
  justify-content: center;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32rem;
    flex-direction:column;
    gap: 24px;
    .input-container {
      width: 340px;
    }
    .confirm {
      width: 320px;
      padding: 12px;
      border-radius: 4px;
      color: variable.$theme-light;
      cursor: pointer;
      background-color: variable.$theme-primary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.form-input {
  height: 128px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-container {
  display: flex;
  gap: 8px;
  height: 128px;
  flex-direction: column;
  justify-content: center;
}

.login-display {
  background-color: #daeef4;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    max-width: 600px;
    object-fit: fill;
  }
}

.form-header {
  text-align: center;
}

.cas {
  > div {
    background-color: variable.$theme-primary;
    color: variable.$theme-light;
    border-radius: 8px;
    text-align: center;
    padding: 16px 32px;
  }
}

.spacer {
  border: 1px solid #e3e8f2;
}

.other {
  color: variable.$theme-subtext;
  width: 340px;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  flex-direction: column;
  align-items: center;
  .other-text {
    display: flex;
    justify-content: center;
  }
}
.login-option {
  cursor: pointer;
  font: variable.$theme-font-mini;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

