@use "../../scss/variable";
.paths {
  > .path-item {
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
    &:hover {
      background: variable.$theme-hover;
    }
  }
  > .path-breaker {
    color: variable.$theme-placeholder;
    margin: 0 6px;
  }
}