@use "../../scss/variable";

.input-container {
  display: flex;
  align-content: stretch;
  border: 1px solid variable.$theme-border;
  overflow: clip;
  border-radius: 4px;

  > span {
    padding: 8px 16px;
    background: variable.$theme-placeholder;
    color: variable.$theme-light;
    white-space: nowrap;
  }

  .large {
    height: 32px;
    font: variable.$theme-font-content;
    flex-grow: 1;
    align-self: stretch;
    border: none;
    padding: 8px 12px;

    &:focus {
      outline: none;
    }
  }
}