@use "scss/mixin";
.app-container {
  margin: 0 auto;
  min-width: 480px;
  width: 100vw;
  box-sizing: content-box;
  @include mixin.md {
    width: 800px;
  }
  @include mixin.lg {
    width: 1000px;
  }
  @include mixin.xl {
    width: 1400px;
  }
}


