@use "./scss/variable";
@use "./scss/fonts";
@use "./scss/flex";
:root {
  font: variable.$theme-font-content;
}
body {
  margin: 0;
}

code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 3px;
}